body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

nav {
    background: #2196F3;
}

.container {
    width: 100%;
}

.brand-logo {
    margin-left:5px;
}

.welcome-image {
    width: 100%;
}

.btn {
    margin: 3px;
}

.btn-to-top
{
    background: none;
    border: 0;
}
.btn-to-top:focus
 {
     background: none;
     border: 0;
 }